<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909152457204-ujrdl80hfmd7udf5lkfqcaji4jrk9hc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909152457204-ujrdl80hfmd7udf5lkfqcaji4jrk9hc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDLAKcLhnVRZFgvKRrAza47dczK_izgmJg</string>
	<key>GCM_SENDER_ID</key>
	<string>909152457204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drpolaris-review</string>
	<key>PROJECT_ID</key>
	<string>drpolaris-38978</string>
	<key>STORAGE_BUCKET</key>
	<string>drpolaris-38978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909152457204:ios:e017c2a3ffc811082fe9a1</string>
</dict>
</plist>